/* Fonts used. */
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
*/
/* TODO 
    create resposive fonts for mobile and latge desktops.
*/


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    overflow-x: hidden;
}
.nav {
    padding-top: 1vh;
}

.code {
    font-family: 'Source Code Pro', monospace;
    background-color: #d3d3d3;
    border-radius: 8px;
}

.center {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

p {
    text-indent: 1.5em;
}

.code p {
    text-indent: 0px;
    padding-left: .5vw;
    padding-right: .5vw;
}

span {
    font-size: 1.5em;
    font-weight: 400;
}

.code p span {
    color: #e54848;
    font-size: 1em;
    font-weight: 300;
}

h3 {
    font-size: 2vw;
}

a {
    color: #696969;
}

a:hover {
    color: #e54848;
}

.imageSize {
    max-width: 25vh;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid;
    border-color: #000;
}

h4 {
    display: inline;
}

.noIndent {
    text-indent: 0px;
}

.alert-warning {
    padding: .5em;
    margin-bottom: 0;   
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 3.75vw;
    }
    h3 {
        font-size: 5vw;
    }
    h4 {
        
    }
    h5 {
        font-size: 3.75vw;
    }
    h6 {
        font-size: 3vw;
    }
}
@media only screen and (min-width: 481px) {
    body {
        font-size: 1vw;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1vw;
    }
}

@media only screen and (min-width: 1200px) {
    
}
